h1{
  color: Blue;
  text-align: center;
}

p{
  color: red;
  text-align: center;
}

div{
  background-color: #e8b125;
  font-family: Arial, sans-serif;
  margin: 30px;
  height: 150px;
  width: 500px;
  padding: 30px;
  font-weight: bold;
  border: 5px dotted red;
}

table{
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
  width: 50%;
  height: auto;
}

th, td{
  border: 1px solid black;
  padding: 5px;
}

th{
  background-color: #e6dcc5;
}
