h1{
  color: Blue;
  text-align: center;
}

p{
  color: red;
  text-align: center;
}

div{
  background-color: #e8b125;
  font-family: Arial, sans-serif;
  margin: 30px;
  height: 150px;
  width: 500px;
  padding: 30px;
  font-weight: bold;

}

table{
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
  width: 50%;
  height: auto;
}

th, td{
  border: 1px solid black;
  padding: 5px;
}

th{
  background-color: #e6dcc5;
}

div.1{
  font-size: 500px;
  border: 5px dotted red;
}

div.2{
  font-size: 30;
}

div.3{
  font-size: 20;
}

span.name{
  font-style: italic;
}
